@import "../../style/color.scss";

.navigation {
  flex-direction: column;
  & > &__Menu {
    flex-direction: column;
    & > .nav-item :hover {
      color: $orange;
    }
  }
  &__Focus {
    color: $orange !important;
  }
  &__Option {
    display: flex;
    align-items: center;
    > span {
      margin-right: 5px;
    }
  }
}
